{% extends "base.html" %}

{% block content %}

<h1 class="text-2xl font-bold mb-6">
    ویرایش شاگرد
</h1>

<form 
    method="post"
    action="/students/{{ student.id }}/update"
    >

    <input
        name="full_name"
        value="{{ student.full_name }}"
        class="border p-2 w-full mb-3">

    <input
        name="phone"
        value="{{ student.phone or '' }}"
        class="border p-2 w-full mb-3">

    <input
        name="total_sessions"
        type="number"
        value="{{ student.total_sessions }}"
        class="border p-2 w-full mb-3">

        <label>
    جلسات مصرف شده
</label>

<input
    name="used_sessions"
    type="number"
    min="0"
    value="{{ student.used_sessions }}"
    class="border p-2 w-full mb-3">

<label>
    تعداد غیبت
</label>

<input
    name="absence_count"
    type="number"
    min="0"
    value="{{ student.absence_count }}"
    class="border p-2 w-full mb-3">

        <label class="block mb-2 font-bold">
    سانس‌ها
</label>

<div class="border rounded-lg p-3 mb-3 space-y-2">

    {% for session in sessions %}

        <label class="flex items-center gap-3 p-2 rounded hover:bg-gray-100 cursor-pointer">

            <input
                type="checkbox"
                name="session_ids"
                value="{{ session.id }}"
                class="w-5 h-5"
                {% if session in student.sessions %}
                    checked
                {% endif %}
            >

            <span>
                {{ session.title }}
                -
                {{ session.start_time }}
                تا
                {{ session.end_time }}
            </span>

        </label>

    {% endfor %}

</div>

<p class="text-sm text-gray-500 mb-4">
    می‌توانید یک یا چند سانس را انتخاب کنید.
</p>

    <textarea
        name="notes"
        class="border p-2 w-full mb-3">{{ student.notes or '' }}</textarea>

    <label>

        <input
            type="checkbox"
            name="deduct_absence"

            {% if student.deduct_absence %}
            checked
            {% endif %}
        >

        غیبت از جلسات کم شود

    </label>

    <br><br>

    
    <button
        class="bg-blue-600 text-white px-5 py-2 rounded">

        ذخیره

    </button>

</form>



{% endblock %}
